body{
    background:linear-gradient(to top,#f7d2bd 10%, #dab6ea 49%, #a8acf3 100%);

        font-family: "Oswald", sans-serif; 
        font-weight: 600;    
}
body.night-mode {
    background: linear-gradient(to top, #f7d2bd 10%, #dab6ea 49%, #a8acf3 100%);
    color: #f0f0f0;
}

body.night-mode .app-container {
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
}

body.night-mode .search-input,
body.night-mode .form-button {
    background-color:rgb(67, 62, 154);
    color: #f0f0f0;
    border: 1px solid #555;
}
.night-mode .weather-forecast-temperatures{
    color: #021445;
}

a {
    color: rgb(82, 35, 126);
}
.app-container{
    background: linear-gradient(179.7deg, rgb(248, 126, 126) -0.5%, rgb(251, 206, 143) 35.3%, rgb(184, 252, 233) 67.2%, rgb(118, 162, 229) 92.3%);;
    max-width: 700px;
    margin: 40px auto 76px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.06);
    border-radius: 20px;
    padding: 50px;
    
}
header{
    border-bottom: 1px dotted rgb(216, 188, 242);
    padding:15px 0 30px 0;
}
.search-input{
    background-color: rgb(231, 217, 245);
    border: none;
    border-radius: 6px;
    width: 70%;
    font-size: 17px;
    padding: 15px 20px;
}
.form-button  {
    background-color: rgb(214, 224, 255);
    padding: 15px 30px;
    border: none;
    margin-left: 10px;
    border-radius: 6px;
    font-size: 17px;
}
main{
    padding: 30px 0;
}
.weather-data{
       display: flex;
       justify-content: space-between;
}
.city-data{
    margin: 0;
    font-size: 40px;
    line-height: 50px;
}
.weather-details{
    font-size: 19px;
    line-height: 25px;
}
.weather-details strong {
    color: rgb(202, 15, 15);

}
.temperature-container{
    display: flex;
}
.weather-icon{
    width: 80px;
    height: 80px;
}
.app-temp { 
    font-size: 89px;
    margin-left: 10px;
    line-height: 89px;
    font-weight: bold;
}
.weather-unit {
    margin-top: 8px;
    font-size: 27px;
}
h3{
    text-align: center;
    font-size: 20px;
}
.weather-forecast {
    display: flex;
   justify-content: space-around;
    margin-top: 30px;
}
.forecast-date{
    text-align: center;
    color: rgba(39,33,66,0.6);
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 12px;
}
.forecast-icon{
    text-align: center;
    font-size: 40px;
}
.weather-forecast-temperatures{
    text-align: center;
    color: #f65282;
    display: flex;
    justify-content: center;
}

.forecast-temperature{
    padding: 10px;
}

footer{
    border-top: 1px dotted rgb(216, 188, 242);
    padding: 30px 0 15px 0;
    text-align: center;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);

}